<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jejuro.miraero.domain.autotransfer.mapper.AutoTransferMapper">

    <insert id="save"
            parameterType="org.jejuro.miraero.domain.autotransfer.domain.AutoTransfer"
            useGeneratedKeys="true"
            keyProperty="autoTransferId">

        INSERT INTO auto_transfer
        (
            withdrawal_account_id,
            deposit_account_id,
            money_box_id,
            deposit_institution_name,
            masked_deposit_account,
            transfer_amount,
            transfer_day,
            start_date,
            end_date,
            auto_transfer_status
        )
        VALUES
        (
            #{withdrawalAccountId},
            #{depositAccountId},
            #{moneyBoxId},
            #{depositInstitutionName},
            #{maskedDepositAccount},
            #{transferAmount},
            #{transferDay},
            #{startDate},
            #{endDate},
            #{autoTransferStatus}
        )

    </insert>

    <select id="findByAsset"
            resultType="org.jejuro.miraero.domain.autotransfer.domain.AutoTransfer">

        SELECT
            auto_transfer_id,
            withdrawal_account_id,
            deposit_account_id,
            money_box_id,
            deposit_institution_name,
            masked_deposit_account,
            transfer_amount,
            transfer_day,
            start_date,
            end_date,
            auto_transfer_status,
            synced_at
        FROM auto_transfer
        WHERE
            ( #{assetType} = 'MONEY_BOX'
            AND money_box_id = #{assetId} )
        OR
        ( #{assetType} = 'ACCOUNT'
            AND deposit_account_id = #{assetId} )

    </select>

    <!--
        현재 목표 자동이체 금액
        ACCOUNT + MONEY_BOX 모두 조회
    -->
    <select id="findTargetGoalAutoTransferAmount"
            resultType="long">
        SELECT COALESCE(SUM(amount), 0)
        FROM (
        <!-- ACCOUNT 연결 -->
            SELECT at.transfer_amount AS amount
            FROM goal_asset ga
                JOIN auto_transfer at
                    ON at.deposit_account_id = ga.asset_id
            WHERE ga.goal_id = #{goalId}
                AND ga.asset_type = 'ACCOUNT'
                AND at.auto_transfer_status = 'ACTIVE'
        UNION ALL
        <!-- MONEY_BOX 연결 -->
            SELECT at.transfer_amount AS amount
            FROM goal_asset ga
                JOIN auto_transfer at
                    ON at.money_box_id = ga.asset_id
            WHERE ga.goal_id = #{goalId}
                AND ga.asset_type = 'MONEY_BOX'
                AND at.auto_transfer_status = 'ACTIVE'
        ) temp
    </select>

    <!--
       다른 목표 자동이체 금액
   -->
    <select id="findOtherGoalAutoTransferAmount"
            resultType="long">
        SELECT COALESCE(SUM(amount), 0)
        FROM (
            <!-- ACCOUNT -->
            SELECT at.transfer_amount AS amount
            FROM goal_asset ga
                JOIN goal g
                    ON ga.goal_id = g.goal_id
                JOIN auto_transfer at
                    ON at.deposit_account_id = ga.asset_id
            WHERE g.user_id = #{userId}
                AND g.goal_id != #{goalId}
                AND ga.asset_type = 'ACCOUNT'
                AND at.auto_transfer_status = 'ACTIVE'
        UNION ALL
            <!-- MONEY_BOX -->
            SELECT at.transfer_amount AS amount
            FROM goal_asset ga
                JOIN goal g
                    ON ga.goal_id = g.goal_id
                JOIN auto_transfer at
                    ON at.money_box_id = ga.asset_id
            WHERE g.user_id = #{userId}
                AND g.goal_id != #{goalId}
                AND ga.asset_type = 'MONEY_BOX'
                AND at.auto_transfer_status = 'ACTIVE'
        ) temp
    </select>

</mapper>