<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jejuro.miraero.domain.goal.mapper.GoalMapper">

    <insert id="save"
            parameterType="org.jejuro.miraero.domain.goal.domain.Goal"
            useGeneratedKeys="true"
            keyProperty="goalId">

        INSERT INTO goal (
            user_id,
            goal_type,
            goal_name,
            goal_amount,
            start_amount,
            goal_date,
            start_date
        )
        VALUES (
                   #{userId},
                   #{goalType},
                   #{goalName},
                   #{goalAmount},
                   #{startAmount},
                   #{goalDate},
                   #{startDate}
               )

    </insert>

</mapper>