<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jejuro.miraero.domain.pacemaker.mapper.PaceMakerMapper">
  <select id="findByUserId"
    parameterType="long"
    resultType="org.jejuro.miraero.domain.pacemaker.domain.AutoSaving">
    SELECT auto_saving_id     AS autoSavingId,
           user_id            AS userId,
           money_box_id       AS moneyBoxId,
           account_id         AS accountId,
           max_amount         AS maxAmount,
           auto_saving_status AS autoSavingStatus
    FROM auto_saving
    WHERE user_id = #{userId}
  </select>

  <update id="updateStatus">
    UPDATE auto_saving
    SET auto_saving_status = #{status}
    WHERE auto_saving_id = #{autoSavingId}
      AND user_id = #{userId}
  </update>

</mapper>
