<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jejuro.miraero.domain.pacemaker.mapper.PaceMakerMapper">
  <select id="findByUserId"
    parameterType="long"
    resultType="org.jejuro.miraero.domain.pacemaker.domain.AutoSaving">
    SELECT auto_saving_id     AS autoSavingId,
           user_id            AS userId,
           money_box_id       AS moneyBoxId,
           account_id         AS accountId,
           max_amount         AS maxAmount,
           auto_saving_status AS autoSavingStatus
    FROM auto_saving
    WHERE user_id = #{userId}
  </select>

  <select id="findDashboardByUserId"
    parameterType="long"
    resultType="org.jejuro.miraero.domain.pacemaker.dto.response.PaceMakerDashboardSummaryResponse">
    SELECT a.auto_saving_id,
           a.auto_saving_status AS status,
           a.max_amount,
           m.money_box_id,
           m.balance,
           m.masked_account_number,
           CASE
             WHEN h.auto_saving_history_id IS NULL THEN FALSE
             ELSE TRUE
             END                AS todaySaved,
           h.amount             AS todaySavingAmount
    FROM auto_saving a
           INNER JOIN money_box m
                      ON a.money_box_id = m.money_box_id
           LEFT JOIN auto_saving_history h
                     ON a.auto_saving_id = h.auto_saving_id
                       AND h.transacted_at = CURDATE()
    WHERE a.user_id = #{userId}
  </select>

  <select id="countMonthlySuccess"
    parameterType="long"
    resultType="int">
    SELECT COUNT(*)
    FROM auto_saving_history
    WHERE auto_saving_id = #{autoSavingId}
      AND transacted_at >= DATE_FORMAT(CURDATE(), '%Y-%m-01')
      AND transacted_at <![CDATA[<]]> DATE_ADD(LAST_DAY(CURDATE()), INTERVAL 1 DAY)
  </select>
  <select id="findWeeklyStreak"
    resultType="org.jejuro.miraero.domain.pacemaker.dto.response.PaceMakerWeeklyStreakResponse">
    SELECT CASE week_days.day_index
             WHEN 0 THEN 'MONDAY'
             WHEN 1 THEN 'TUESDAY'
             WHEN 2 THEN 'WEDNESDAY'
             WHEN 3 THEN 'THURSDAY'
             WHEN 4 THEN 'FRIDAY'
             WHEN 5 THEN 'SATURDAY'
             WHEN 6 THEN 'SUNDAY'
             END AS dayOfWeek,
           CASE
             WHEN h.auto_saving_history_id IS NULL THEN FALSE
             ELSE TRUE
             END AS saved,
           h.amount
    FROM (SELECT 0 AS day_index
          UNION ALL
          SELECT 1
          UNION ALL
          SELECT 2
          UNION ALL
          SELECT 3
          UNION ALL
          SELECT 4
          UNION ALL
          SELECT 5
          UNION ALL
          SELECT 6) week_days
           LEFT JOIN auto_saving_history h
                     ON h.auto_saving_id = #{autoSavingId}
                       AND h.transacted_at = DATE_ADD(
                         DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY),
                         INTERVAL week_days.day_index DAY
                                             )
    ORDER BY week_days.day_index
  </select>

  <select id="findRecentSavingDates" parameterType="long" resultType="java.time.LocalDate">
    SELECT transacted_at
    FROM auto_saving_history
    WHERE auto_saving_id = #{autoSavingId}
      AND transacted_at <![CDATA[<=]]> CURDATE()
    ORDER BY transacted_at DESC
    LIMIT 60
  </select>

  <update id="updateMaxAmount">
    UPDATE auto_saving
    SET max_amount = #{maxAmount}
    WHERE auto_saving_id = #{autoSavingId}
      AND user_id = #{userId}
  </update>

  <update id="updateStatus">
    UPDATE auto_saving
    SET auto_saving_status = #{status}
    WHERE auto_saving_id = #{autoSavingId}
      AND user_id = #{userId}
  </update>

</mapper>
