<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jejuro.miraero.domain.mydata.mapper.MyDataConsentMapper">

  <insert id="save"
    parameterType="org.jejuro.miraero.domain.mydata.model.MyDataConsent">
    INSERT INTO mydata_consent(
    user_id,
    terms_version,
    agreed_at,
    expires_at,
    revoked_at,
    agree_status
    )
    VALUES (
    #{userId},
    #{termsVersion},
    #{agreedAt},
    #{expiresAt},
    #{revokedAt},
    #{agreeStatus}
    )
  </insert>
</mapper>
